<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Usuário</title>
</head>
<body>
    <h1>Atualizar Usuário</h1>
    <form id="updateForm">
        <input type="number" id="userId"> <!-- Coloque o ID do usuário aqui -->
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <button type="button" onclick="updateUser()">Atualizar</button>
    </form>

    <script>
        function updateUser() {
            const userId = document.getElementById('userId').value;
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;

            const user = {
                nome: name,
                email: email
            };

            fetch(`/atualizar/${userId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            })
            .then(response => {
                if (response.ok) {
                    return response.text().then(text => alert(text));
                } else {
                    return response.text().then(text => {
                        throw new Error(text);
                    });
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao atualizar o usuário!');
            });
        }
    </script>
</body>
</html>
